@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/Comfortaa-Regular.woff');
  src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'comfortaa-bold';
  src: url('../fonts/Comfortaa-Bold.ttf');
}
body {
  font-family: 'comfortaa', sans-serif;
  margin: 0;
}

/* =========== HEADER ============ */

header {
  background-color: chartreuse;
  display: flex;
  justify-content: center;
}

header img {
  width: 250px;
  height:250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: -100px;
  z-index: 10;
}

header img:hover {
  cursor:pointer;
  transform: rotate(360deg);
  transition: 1s ease-in-out;
}

header > * {
  margin: 10px;
}

header div {
  align-content: center;
  padding: 10px 20px;
}

/* =========== CONTENU ============ */
#contenu {
  display: flex;
}

.column {
  width: 25%;
  background-color: aquamarine;
  padding: 10px;
  border-right: 3px solid black;
}

main {
  width: 75%;
  padding: 20px 15px 20px 50px;
  background-color: orange;
}

main h3, .column h3{
  text-align: center;
  padding-top: 30px
}


/* =============== COLONNE ================ */

#langues li {
  list-style: none;
}

.francais::before {
  content:"🇫🇷";
  font-size: 20px;
  padding-right: 15px;
}

.anglais::before {
  content:"🇬🇧";
  font-size: 20px;
  padding-right: 15px;
}

.italien::before {
  content:"🇮🇹";
  font-size: 20px;
  padding-right: 15px;
}

#contact li {
  list-style: none;
}

.contact::before {
  font-size: 20px;
  padding-right: 15px;
  top: 5px;
  position: relative;
}
.adresse::before {
  content:url("../img/location.svg");
}

.tel::before {
  content:url("../img/phone.svg");
}

.mail::before {
  content:url("../img/mail.svg");
}

.cadre {
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}

.progression {
  background-color: blue;
  height: 20px;
  margin-bottom: -19px;
  border-radius: 3px;
  position: relative;
  z-index: 9;
}

.cadre span {
  position: relative;
  z-index: 10;
}

.francais .progression {
  width: 100%;
}

.anglais .progression {
  width: 80%;
}

.italien .progression {
  width: 5%;
}

.btn-contact {
  position: fixed;
  bottom:20px;
  right:100px;

  background-color: chartreuse;
  color: purple;
  border: 8px solid black;
  border-radius: 20px;
  padding: 0 20px;

  text-decoration: none;
  transition: 1s;
}

.btn-contact:hover {
  transform: scale(1.1);
  right: 130px;
}

.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-decoration: none;

  background-color: chartreuse;
  border: 8px solid black;
  border-radius: 20px;
  padding: 10px;
}